In [2]:
import seml
import pandas as pd
from run_seml import run
from matplotlib import pyplot as plt

pd.set_option('display.max_columns', 50)

In [3]:
%load_ext autoreload
%autoreload 2

In [4]:
seml_results = seml.get_results('rgnn_rpprgo_cora_citeseer', to_data_frame=True)
len(seml_results)

HBox(children=(FloatProgress(value=0.0, max=726.0), HTML(value='')))

HBox(children=(FloatProgress(value=0.0, max=726.0), HTML(value='')))

726

In [5]:
seml_results.columns

Index(['_id', 'config.overwrite', 'config.db_collection', 'config.dataset',
       'config.model_params.label', 'config.model_params.model',
       'config.model_params.dropout', 'config.model_params.n_filters',
       'config.model_params.gdc_params', 'config.model_params.svd_params',
       'config.model_params.jaccard_params',
       'config.model_params.do_cache_adj_prep', 'config.model_params.alpha',
       'config.model_params.eps', 'config.model_params.hidden_size',
       'config.model_params.mean', 'config.model_params.mean_kwargs.k',
       'config.model_params.mean_kwargs.temperature',
       'config.model_params.mean_kwargs.with_weight_correction',
       'config.model_params.nlayers', 'config.model_params.ppr_normalization',
       'config.model_params.topk', 'config.train_params.lr',
       'config.train_params.weight_decay', 'config.train_params.patience',
       'config.train_params.max_epochs', 'config.train_params.batch_mult_val',
       'config.train_params.batch_size', 'config.binary_attr', 'config.seed',
       'config.artifact_dir', 'config.model_storage_type', 'config.device',
       'config.display_steps', 'config.data_device', 'config.data_dir',
       'result.accuracy', 'result.trace_val', 'result.trace_train',
       'result.model_path'],
      dtype='object')

In [6]:
relevant_columns = ['_id', 'config.dataset',
       #'config.model_params.model',
       'config.model_params.dropout', 
       'config.model_params.alpha',
       'config.model_params.hidden_size',
       'config.model_params.mean_kwargs.temperature',
       'config.model_params.nlayers', 
       'config.model_params.topk', 
       'config.binary_attr', 
       'config.seed',
       'result.accuracy',
       #'result.trace_val', 
       #'result.trace_train',
]
seml_results = seml_results[relevant_columns]

In [7]:
cora_results = seml_results[seml_results["config.dataset"] == "cora_ml"]
citeseer_results = seml_results[seml_results["config.dataset"] == "citeseer"]

In [8]:
cora_results.head()

,_id,config.dataset,config.model_params.dropout,config.model_params.alpha,config.model_params.hidden_size,config.model_params.mean_kwargs.temperature,config.model_params.nlayers,config.model_params.topk,config.binary_attr,config.seed,result.accuracy
0,1,cora_ml,0.50,0.25,64,0.2,3,64,True,0,0.594071
1,2,cora_ml,0.25,0.25,64,1.0,3,64,True,0,0.627668
2,3,cora_ml,0.50,0.25,32,0.2,2,64,True,0,0.640316
3,4,cora_ml,0.25,0.50,64,0.2,4,64,True,0,0.586957
4,5,cora_ml,0.25,0.50,64,0.2,4,64,True,0,0.594862

In [27]:
cora_results["config.seed"].value_counts()

0    100
1     56
Name: config.seed, dtype: int64

In [26]:
hpt_columns = relevant_columns.copy()
hpt_columns.remove("config.seed")
hpt_columns.remove("result.accuracy")
cora_results[relevant_columns].groupby(hpt_columns).mean()

,,,,,,,,,config.seed,result.accuracy
_id,config.dataset,config.model_params.dropout,config.model_params.alpha,config.model_params.hidden_size,config.model_params.mean_kwargs.temperature,config.model_params.nlayers,config.model_params.topk,config.binary_attr,,
1,cora_ml,0.50,0.25,64,0.2,3,64,True,0,0.594071
2,cora_ml,0.25,0.25,64,1.0,3,64,True,0,0.627668
3,cora_ml,0.50,0.25,32,0.2,2,64,True,0,0.640316
4,cora_ml,0.25,0.50,64,0.2,4,64,True,0,0.586957
5,cora_ml,0.25,0.50,64,0.2,4,64,True,0,0.594862
...,...,...,...,...,...,...,...,...,...,...
152,cora_ml,0.10,0.50,64,20.0,3,64,True,1,0.678261
153,cora_ml,0.50,0.50,32,5.0,2,64,True,1,0.623320
154,cora_ml,0.50,0.25,32,0.2,3,64,True,1,0.600395
155,cora_ml,0.25,0.50,32,0.2,2,64,True,1,0.595652
156,cora_ml,0.50,0.50,32,0.5,3,64,True,1,0.618972

In [9]:
metric = "result.accuracy"
best_cora_results = cora_results[cora_results[metric] == cora_results[metric].max()]#.drop_duplicates([metric])
best_cora_results

,_id,config.dataset,config.model_params.dropout,config.model_params.alpha,config.model_params.hidden_size,config.model_params.mean_kwargs.temperature,config.model_params.nlayers,config.model_params.topk,config.binary_attr,config.seed,result.accuracy
45,46,cora_ml,0.25,0.25,64,50.0,2,64,True,0,0.750988

In [10]:
best_citeseer_results = citeseer_results[citeseer_results[metric] == citeseer_results[metric].max()]#.drop_duplicates([metric])
best_citeseer_results

,_id,config.dataset,config.model_params.dropout,config.model_params.alpha,config.model_params.hidden_size,config.model_params.mean_kwargs.temperature,config.model_params.nlayers,config.model_params.topk,config.binary_attr,config.seed,result.accuracy
324,799,citeseer,0.1,0.25,32,20.0,2,64,True,1,0.733155
624,1099,citeseer,0.1,0.25,32,20.0,2,64,False,1,0.733155

,_id,config.model_params.dropout,config.model_params.alpha,config.model_params.hidden_size,config.model_params.mean_kwargs.temperature,config.model_params.nlayers,config.model_params.topk,config.binary_attr,result.accuracy
config.seed,,,,,,,,,
0,50.5,0.291000,0.360000,44.160000,13.272,3.030000,64.0,True,0.639510
1,128.5,0.272321,0.366071,46.857143,12.575,3.071429,64.0,True,0.613425

In [12]:
best_results = pd.concat([best_citeseer_results, best_cora_results])
best_results

,_id,config.dataset,config.model_params.dropout,config.model_params.alpha,config.model_params.hidden_size,config.model_params.mean_kwargs.temperature,config.model_params.nlayers,config.model_params.topk,config.binary_attr,config.seed,result.accuracy
324,799,citeseer,0.10,0.25,32,20.0,2,64,True,1,0.733155
624,1099,citeseer,0.10,0.25,32,20.0,2,64,False,1,0.733155
45,46,cora_ml,0.25,0.25,64,50.0,2,64,True,0,0.750988

In [13]:
# only show columns that don't have the same values in every row
best_results.loc[:, (best_results != best_results.iloc[0]).any()]

,_id,config.dataset,config.model_params.dropout,config.model_params.hidden_size,config.model_params.mean_kwargs.temperature,config.binary_attr,config.seed,result.accuracy
324,799,citeseer,0.10,32,20.0,True,1,0.733155
624,1099,citeseer,0.10,32,20.0,False,1,0.733155
45,46,cora_ml,0.25,64,50.0,True,0,0.750988

In [14]:

best_results[relevant_columns]

,_id,config.dataset,config.model_params.dropout,config.model_params.alpha,config.model_params.hidden_size,config.model_params.mean_kwargs.temperature,config.model_params.nlayers,config.model_params.topk,config.binary_attr,config.seed,result.accuracy
324,799,citeseer,0.10,0.25,32,20.0,2,64,True,1,0.733155
624,1099,citeseer,0.10,0.25,32,20.0,2,64,False,1,0.733155
45,46,cora_ml,0.25,0.25,64,50.0,2,64,True,0,0.750988

In [65]:
best_results[config_columns + scal_res_columns]

,config.model_class,config.aggr,config.topk,result.time_training,result.time_propagation,result.gpu_memory,result.memory
256,PPRGo,sum,64,4.965747,0.002694,32934400,2130378752
97,PPRGo,mean,32,5.207305,0.002738,10279936,2121785344
162,RobustPPRGo,sum,64,7.054422,0.002642,33509888,2360094720

In [15]:
print(best_results[relevant_columns].to_markdown())

|     |   _id | config.dataset   |   config.model_params.dropout |   config.model_params.alpha |   config.model_params.hidden_size |   config.model_params.mean_kwargs.temperature |   config.model_params.nlayers |   config.model_params.topk | config.binary_attr   |   config.seed |   result.accuracy |
|----:|------:|:-----------------|------------------------------:|----------------------------:|----------------------------------:|----------------------------------------------:|------------------------------:|---------------------------:|:---------------------|--------------:|------------------:|
| 324 |   799 | citeseer         |                          0.1  |                        0.25 |                                32 |                                            20 |                             2 |                         64 | True                 |             1 |          0.733155 |
| 624 |  1099 | citeseer         |                          0.1  |                        0.25 |                                32 |                                            20 |                             2 |                         64 | False                |             1 |          0.733155 |
|  45 |    46 | cora_ml          |                          0.25 |                        0.25 |                                64 |                                            50 |                             2 |                         64 | True                 |             0 |          0.750988 |

In [67]:
_id = 64
config = {k.replace("config.", ""):v for k, v in seml_results.iloc[24][config_keys].items()}
config.pop("overwrite")
config.pop("db_collection")
config.pop("seed")
config["batch_size"] = int(config["batch_size"])
config["aggr"] = "sum"
config

NameError: name 'config_keys' is not defined

In [49]:
results = run(**config)

2020-12-21 14:58:25 (INFO): Loading done.
2020-12-21 14:58:25 (INFO): Preprocessing done.
2020-12-21 14:58:25 (INFO): Epoch 0, step 1: train 0.01390
2020-12-21 14:58:25 (INFO): Epoch 1, step 2: train 0.01389
2020-12-21 14:58:25 (INFO): Epoch 2, step 3: train 0.01387
2020-12-21 14:58:25 (INFO): Epoch 3, step 4: train 0.01384
2020-12-21 14:58:25 (INFO): Epoch 4, step 5: train 0.01380
2020-12-21 14:58:25 (INFO): Epoch 5, step 6: train 0.01374
2020-12-21 14:58:25 (INFO): Epoch 6, step 7: train 0.01367
2020-12-21 14:58:25 (INFO): Epoch 7, step 8: train 0.01359
2020-12-21 14:58:25 (INFO): Epoch 8, step 9: train 0.01349
2020-12-21 14:58:25 (INFO): Epoch 9, step 10: train 0.01337
2020-12-21 14:58:25 (INFO): Epoch 10, step 11: train 0.01324
2020-12-21 14:58:25 (INFO): Epoch 11, step 12: train 0.01309
2020-12-21 14:58:25 (INFO): Epoch 12, step 13: train 0.01293
2020-12-21 14:58:25 (INFO): Epoch 13, step 14: train 0.01277
2020-12-21 14:58:25 (INFO): Epoch 14, step 15: train 0.01260
2020-12-21 14:58:25 (INFO): Epoch 15, step 16: train 0.01243
2020-12-21 14:58:25 (INFO): Epoch 16, step 17: train 0.01225
2020-12-21 14:58:25 (INFO): Epoch 17, step 18: train 0.01207
2020-12-21 14:58:25 (INFO): Epoch 18, step 19: train 0.01189
2020-12-21 14:58:25 (INFO): Epoch 19, step 20: train 0.01170
2020-12-21 14:58:25 (INFO): Epoch 20, step 21: train 0.01150
2020-12-21 14:58:25 (INFO): Epoch 21, step 22: train 0.01131
2020-12-21 14:58:25 (INFO): Epoch 22, step 23: train 0.01110
2020-12-21 14:58:25 (INFO): Epoch 23, step 24: train 0.01091
2020-12-21 14:58:25 (INFO): Epoch 24, step 25: train 0.01071

512
<class 'int'>

2020-12-21 14:58:25 (INFO): Epoch 25, step 26: train 0.01051
2020-12-21 14:58:25 (INFO): Epoch 26, step 27: train 0.01030
2020-12-21 14:58:25 (INFO): Epoch 27, step 28: train 0.01010
2020-12-21 14:58:25 (INFO): Epoch 28, step 29: train 0.00990
2020-12-21 14:58:25 (INFO): Epoch 29, step 30: train 0.00970
2020-12-21 14:58:25 (INFO): Epoch 30, step 31: train 0.00950
2020-12-21 14:58:25 (INFO): Epoch 31, step 32: train 0.00930
2020-12-21 14:58:25 (INFO): Epoch 32, step 33: train 0.00910
2020-12-21 14:58:25 (INFO): Epoch 33, step 34: train 0.00891
2020-12-21 14:58:25 (INFO): Epoch 34, step 35: train 0.00872
2020-12-21 14:58:25 (INFO): Epoch 35, step 36: train 0.00853
2020-12-21 14:58:25 (INFO): Epoch 36, step 37: train 0.00834
2020-12-21 14:58:25 (INFO): Epoch 37, step 38: train 0.00816
2020-12-21 14:58:25 (INFO): Epoch 38, step 39: train 0.00798
2020-12-21 14:58:25 (INFO): Epoch 39, step 40: train 0.00780
2020-12-21 14:58:25 (INFO): Epoch 40, step 41: train 0.00763
2020-12-21 14:58:25 (INFO): Epoch 41, step 42: train 0.00746
2020-12-21 14:58:25 (INFO): Epoch 42, step 43: train 0.00730
2020-12-21 14:58:25 (INFO): Epoch 43, step 44: train 0.00714
2020-12-21 14:58:25 (INFO): Epoch 44, step 45: train 0.00699
2020-12-21 14:58:25 (INFO): Epoch 45, step 46: train 0.00685
2020-12-21 14:58:25 (INFO): Epoch 46, step 47: train 0.00671
2020-12-21 14:58:25 (INFO): Epoch 47, step 48: train 0.00657
2020-12-21 14:58:25 (INFO): Epoch 48, step 49: train 0.00644
2020-12-21 14:58:25 (INFO): Epoch 49, step 50: train 0.00632
2020-12-21 14:58:25 (INFO): Epoch 50, step 51: train 0.00620
2020-12-21 14:58:25 (INFO): Epoch 51, step 52: train 0.00608
2020-12-21 14:58:25 (INFO): Epoch 52, step 53: train 0.00597
2020-12-21 14:58:25 (INFO): Epoch 53, step 54: train 0.00586
2020-12-21 14:58:25 (INFO): Epoch 54, step 55: train 0.00575
2020-12-21 14:58:25 (INFO): Epoch 55, step 56: train 0.00565
2020-12-21 14:58:25 (INFO): Epoch 56, step 57: train 0.00555
2020-12-21 14:58:25 (INFO): Epoch 57, step 58: train 0.00546
2020-12-21 14:58:25 (INFO): Epoch 58, step 59: train 0.00537
2020-12-21 14:58:25 (INFO): Epoch 59, step 60: train 0.00528
2020-12-21 14:58:25 (INFO): Epoch 60, step 61: train 0.00519
2020-12-21 14:58:25 (INFO): Epoch 61, step 62: train 0.00511
2020-12-21 14:58:25 (INFO): Epoch 62, step 63: train 0.00503
2020-12-21 14:58:25 (INFO): Epoch 63, step 64: train 0.00495
2020-12-21 14:58:25 (INFO): Epoch 64, step 65: train 0.00488
2020-12-21 14:58:25 (INFO): Epoch 65, step 66: train 0.00480
2020-12-21 14:58:25 (INFO): Epoch 66, step 67: train 0.00473
2020-12-21 14:58:25 (INFO): Epoch 67, step 68: train 0.00466
2020-12-21 14:58:25 (INFO): Epoch 68, step 69: train 0.00460
2020-12-21 14:58:25 (INFO): Epoch 69, step 70: train 0.00453
2020-12-21 14:58:25 (INFO): Epoch 70, step 71: train 0.00447
2020-12-21 14:58:25 (INFO): Epoch 71, step 72: train 0.00441
2020-12-21 14:58:25 (INFO): Epoch 72, step 73: train 0.00435
2020-12-21 14:58:25 (INFO): Epoch 73, step 74: train 0.00429
2020-12-21 14:58:25 (INFO): Epoch 74, step 75: train 0.00423
2020-12-21 14:58:25 (INFO): Epoch 75, step 76: train 0.00418
2020-12-21 14:58:25 (INFO): Epoch 76, step 77: train 0.00412
2020-12-21 14:58:25 (INFO): Epoch 77, step 78: train 0.00407
2020-12-21 14:58:25 (INFO): Epoch 78, step 79: train 0.00402
2020-12-21 14:58:25 (INFO): Epoch 79, step 80: train 0.00397
2020-12-21 14:58:25 (INFO): Epoch 80, step 81: train 0.00392
2020-12-21 14:58:25 (INFO): Epoch 81, step 82: train 0.00387
2020-12-21 14:58:25 (INFO): Epoch 82, step 83: train 0.00383
2020-12-21 14:58:25 (INFO): Epoch 83, step 84: train 0.00378
2020-12-21 14:58:25 (INFO): Epoch 84, step 85: train 0.00374
2020-12-21 14:58:25 (INFO): Epoch 85, step 86: train 0.00370
2020-12-21 14:58:25 (INFO): Epoch 86, step 87: train 0.00365
2020-12-21 14:58:25 (INFO): Epoch 87, step 88: train 0.00361
2020-12-21 14:58:25 (INFO): Epoch 88, step 89: train 0.00357
2020-12-21 14:58:25 (INFO): Epoch 89, step 90: train 0.00353
2020-12-21 14:58:25 (INFO): Epoch 90, step 91: train 0.00350
2020-12-21 14:58:25 (INFO): Epoch 91, step 92: train 0.00346
2020-12-21 14:58:25 (INFO): Epoch 92, step 93: train 0.00342
2020-12-21 14:58:25 (INFO): Epoch 93, step 94: train 0.00339
2020-12-21 14:58:25 (INFO): Epoch 94, step 95: train 0.00335
2020-12-21 14:58:25 (INFO): Epoch 95, step 96: train 0.00332
2020-12-21 14:58:25 (INFO): Epoch 96, step 97: train 0.00328
2020-12-21 14:58:25 (INFO): Epoch 97, step 98: train 0.00325
2020-12-21 14:58:25 (INFO): Epoch 98, step 99: train 0.00322
2020-12-21 14:58:25 (INFO): Epoch 99, step 100: train 0.00319
2020-12-21 14:58:25 (INFO): Epoch 100, step 101: train 0.00315
2020-12-21 14:58:25 (INFO): Epoch 101, step 102: train 0.00312
2020-12-21 14:58:25 (INFO): Epoch 102, step 103: train 0.00309
2020-12-21 14:58:25 (INFO): Epoch 103, step 104: train 0.00307
2020-12-21 14:58:25 (INFO): Epoch 104, step 105: train 0.00304
2020-12-21 14:58:25 (INFO): Epoch 105, step 106: train 0.00301
2020-12-21 14:58:25 (INFO): Epoch 106, step 107: train 0.00298
2020-12-21 14:58:25 (INFO): Epoch 107, step 108: train 0.00295
2020-12-21 14:58:25 (INFO): Epoch 108, step 109: train 0.00293
2020-12-21 14:58:25 (INFO): Epoch 109, step 110: train 0.00290
2020-12-21 14:58:25 (INFO): Epoch 110, step 111: train 0.00288
2020-12-21 14:58:25 (INFO): Epoch 111, step 112: train 0.00285
2020-12-21 14:58:25 (INFO): Epoch 112, step 113: train 0.00283
2020-12-21 14:58:25 (INFO): Epoch 113, step 114: train 0.00280
2020-12-21 14:58:25 (INFO): Epoch 114, step 115: train 0.00278
2020-12-21 14:58:25 (INFO): Epoch 115, step 116: train 0.00275
2020-12-21 14:58:25 (INFO): Epoch 116, step 117: train 0.00273
2020-12-21 14:58:25 (INFO): Epoch 117, step 118: train 0.00271
2020-12-21 14:58:25 (INFO): Epoch 118, step 119: train 0.00269
2020-12-21 14:58:25 (INFO): Epoch 119, step 120: train 0.00266
2020-12-21 14:58:25 (INFO): Epoch 120, step 121: train 0.00264
2020-12-21 14:58:25 (INFO): Epoch 121, step 122: train 0.00262
2020-12-21 14:58:25 (INFO): Epoch 122, step 123: train 0.00260
2020-12-21 14:58:25 (INFO): Epoch 123, step 124: train 0.00258
2020-12-21 14:58:25 (INFO): Epoch 124, step 125: train 0.00256
2020-12-21 14:58:25 (INFO): Epoch 125, step 126: train 0.00254
2020-12-21 14:58:25 (INFO): Epoch 126, step 127: train 0.00252
2020-12-21 14:58:25 (INFO): Epoch 127, step 128: train 0.00250
2020-12-21 14:58:25 (INFO): Epoch 128, step 129: train 0.00248
2020-12-21 14:58:25 (INFO): Epoch 129, step 130: train 0.00246
2020-12-21 14:58:25 (INFO): Epoch 130, step 131: train 0.00245
2020-12-21 14:58:25 (INFO): Epoch 131, step 132: train 0.00243
2020-12-21 14:58:25 (INFO): Epoch 132, step 133: train 0.00241
2020-12-21 14:58:25 (INFO): Epoch 133, step 134: train 0.00239
2020-12-21 14:58:25 (INFO): Epoch 134, step 135: train 0.00237
2020-12-21 14:58:25 (INFO): Epoch 135, step 136: train 0.00236
2020-12-21 14:58:25 (INFO): Epoch 136, step 137: train 0.00234
2020-12-21 14:58:25 (INFO): Epoch 137, step 138: train 0.00232
2020-12-21 14:58:25 (INFO): Epoch 138, step 139: train 0.00231
2020-12-21 14:58:25 (INFO): Epoch 139, step 140: train 0.00229
2020-12-21 14:58:25 (INFO): Epoch 140, step 141: train 0.00228
2020-12-21 14:58:25 (INFO): Epoch 141, step 142: train 0.00226
2020-12-21 14:58:25 (INFO): Epoch 142, step 143: train 0.00224
2020-12-21 14:58:25 (INFO): Epoch 143, step 144: train 0.00223
2020-12-21 14:58:25 (INFO): Epoch 144, step 145: train 0.00221
2020-12-21 14:58:25 (INFO): Epoch 145, step 146: train 0.00220
2020-12-21 14:58:25 (INFO): Epoch 146, step 147: train 0.00218
2020-12-21 14:58:25 (INFO): Epoch 147, step 148: train 0.00217
2020-12-21 14:58:25 (INFO): Epoch 148, step 149: train 0.00216
2020-12-21 14:58:25 (INFO): Epoch 149, step 150: train 0.00214
2020-12-21 14:58:25 (INFO): Epoch 150, step 151: train 0.00213
2020-12-21 14:58:25 (INFO): Epoch 151, step 152: train 0.00211
2020-12-21 14:58:25 (INFO): Epoch 152, step 153: train 0.00210
2020-12-21 14:58:25 (INFO): Epoch 153, step 154: train 0.00209
2020-12-21 14:58:25 (INFO): Epoch 154, step 155: train 0.00207
2020-12-21 14:58:25 (INFO): Epoch 155, step 156: train 0.00206
2020-12-21 14:58:25 (INFO): Epoch 156, step 157: train 0.00205
2020-12-21 14:58:25 (INFO): Epoch 157, step 158: train 0.00204
2020-12-21 14:58:25 (INFO): Epoch 158, step 159: train 0.00202
2020-12-21 14:58:25 (INFO): Epoch 159, step 160: train 0.00201
2020-12-21 14:58:25 (INFO): Epoch 160, step 161: train 0.00200
2020-12-21 14:58:25 (INFO): Epoch 161, step 162: train 0.00199
2020-12-21 14:58:25 (INFO): Epoch 162, step 163: train 0.00198
2020-12-21 14:58:25 (INFO): Epoch 163, step 164: train 0.00196
2020-12-21 14:58:25 (INFO): Epoch 164, step 165: train 0.00195
2020-12-21 14:58:25 (INFO): Epoch 165, step 166: train 0.00194
2020-12-21 14:58:25 (INFO): Epoch 166, step 167: train 0.00193
2020-12-21 14:58:25 (INFO): Epoch 167, step 168: train 0.00192
2020-12-21 14:58:25 (INFO): Epoch 168, step 169: train 0.00191
2020-12-21 14:58:25 (INFO): Epoch 169, step 170: train 0.00190
2020-12-21 14:58:25 (INFO): Epoch 170, step 171: train 0.00188
2020-12-21 14:58:25 (INFO): Epoch 171, step 172: train 0.00187
2020-12-21 14:58:26 (INFO): Epoch 172, step 173: train 0.00186
2020-12-21 14:58:26 (INFO): Epoch 173, step 174: train 0.00185
2020-12-21 14:58:26 (INFO): Epoch 174, step 175: train 0.00184
2020-12-21 14:58:26 (INFO): Epoch 175, step 176: train 0.00183
2020-12-21 14:58:26 (INFO): Epoch 176, step 177: train 0.00182
2020-12-21 14:58:26 (INFO): Epoch 177, step 178: train 0.00181
2020-12-21 14:58:26 (INFO): Epoch 178, step 179: train 0.00180
2020-12-21 14:58:26 (INFO): Epoch 179, step 180: train 0.00179
2020-12-21 14:58:26 (INFO): Epoch 180, step 181: train 0.00178
2020-12-21 14:58:26 (INFO): Epoch 181, step 182: train 0.00177
2020-12-21 14:58:26 (INFO): Epoch 182, step 183: train 0.00176
2020-12-21 14:58:26 (INFO): Epoch 183, step 184: train 0.00175
2020-12-21 14:58:26 (INFO): Epoch 184, step 185: train 0.00175
2020-12-21 14:58:26 (INFO): Epoch 185, step 186: train 0.00174
2020-12-21 14:58:26 (INFO): Epoch 186, step 187: train 0.00173
2020-12-21 14:58:26 (INFO): Epoch 187, step 188: train 0.00172
2020-12-21 14:58:26 (INFO): Epoch 188, step 189: train 0.00171
2020-12-21 14:58:26 (INFO): Epoch 189, step 190: train 0.00170
2020-12-21 14:58:26 (INFO): Epoch 190, step 191: train 0.00169
2020-12-21 14:58:26 (INFO): Epoch 191, step 192: train 0.00168
2020-12-21 14:58:26 (INFO): Epoch 192, step 193: train 0.00167
2020-12-21 14:58:26 (INFO): Epoch 193, step 194: train 0.00167
2020-12-21 14:58:26 (INFO): Epoch 194, step 195: train 0.00166
2020-12-21 14:58:26 (INFO): Epoch 195, step 196: train 0.00165
2020-12-21 14:58:26 (INFO): Epoch 196, step 197: train 0.00164
2020-12-21 14:58:26 (INFO): Epoch 197, step 198: train 0.00163
2020-12-21 14:58:26 (INFO): Epoch 198, step 199: train 0.00163
2020-12-21 14:58:26 (INFO): Epoch 199, step 200: train 0.00162
2020-12-21 14:58:26 (INFO): Training done.
2020-12-21 14:58:26 (INFO): Inference done.

In [50]:
results

{'accuracy_train': 100.0,
 'accuracy_val': 82.71428571428572,
 'accuracy_test': 81.65354330708662,
 'f1_train': 1.0,
 'f1_val': 0.808732503433484,
 'f1_test': 0.8039586412758616,
 'time_loading': 0.021263599395751953,
 'time_preprocessing': 0.0038497447967529297,
 'time_training': 1.0438570976257324,
 'time_inference': 0.006062984466552734,
 'time_logits': 0.004880666732788086,
 'time_propagation': 0.0011315345764160156,
 'gpu_memory': 15502336,
 'memory': 2118467584,
 'nepochs': 200}